!ssh/.ssh/authorized_keys
!ssh/.ssh/config
!ssh/.ssh/known_hosts
!vim/.vim/vimrc
irssi/.irssi/config.autosave
irssi/.irssi/logs
mutt/.mutt/hcache-lock
ncmpcpp/.ncmpcpp/error.log
ssh/.ssh/*
systemd/.config/user/*wants/
vim/.vim/*
emacs/.emacs.d/.emacs.desktop
emacs/.emacs.d/.emacs.desktop.lock
emacs/.emacs.d/.lsp-session-v1
emacs/.emacs.d/eln-cache/
emacs/.emacs.d/history
emacs/.emacs.d/recentf
emacs/.emacs.d/tabsession.el
emacs/.emacs.d/transient/history.el
emacs/.emacs.d/.cache